<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Korttipeli</title>
    <script src="js/pakka.js"></script>
    <script src="js/pelaaja.js"></script>
    <script src="js/game.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="container">
        <h1>Tervetuloa pelaamaan korttipeliä</h1>

        <div id="toppanel">
            <form id="lomake" autocomplete="off">
                <label for="nameInput">Nimi: </label>
                <input id="nameInput" type="text" name="firstName" placeholder="Anna nimesi" v-model="nimi" :disabled="pelimenossa">
                <br>

                <label>Panos:</label>
                <div style="display: inline-flex;">
                    <input type="button" id="minus" value="-" :disabled="panos==0 || pelimenossa" @click="panosminus">
                    <input id="bet" readonly :value="panos" :disabled="pelimenossa">
                    <input type="button" id="plus" value="+" :disabled="panos==10 || pelimenossa" @click="panosplus">
                </div>
                <br>

                <p>
                    <input type="submit" :disabled="nimi=='' || pelimenossa" id="startButton" value="Aloita peli" @click.prevent="aloitaPeli">
                </p>
            </form>
            <textarea id="console" cols="30" rows="10" readonly>{{ log }}</textarea>
        </div>

        <nav>
            <button :disabled="!pelimenossa" id="changeCards" @click="vaihtaJaRatkaise">{{ viesti }}</button>
            <p>Rahat: <span id="money">{{ raha }}</span></p>
        </nav>

        <div id="cards" :class="{'disabled':!pelimenossa}">
            <korttielem v-for="(kortti,index) in käsi" :index="index" :key="index" :valittu="valitut[index]" :numero="käsi[index]" @klik="valitseKortti"></korttielem>
        </div>

    </div>

    <script>
        let pakka = new Pakka();
        let pelaaja = new Pelaaja('', 100);
        const korttienMäärä = 5;

        Vue.component('korttielem',{
            props: ['numero','valittu', 'index'],
            template: `
                <div class="card" :class="{'selected': valittu}" @click="$emit('klik', index)">
                    <img :src="korttiKuva(numero)">
                </div>`,
            methods: {
                korttiKuva(num) {
                    return `images/${num + 1}.png`
                },
            }
        });


        let app = new Vue({
            el: '#container',
            data: {
                panos: 5,
                nimi: pelaaja.nimi,
                pelimenossa: false,
                raha: pelaaja.raha,
                käsi: new Array(korttienMäärä).fill(39), // [39, 39, 39, 39, 39],
                valitut: new Array(korttienMäärä).fill(false), //[false, false, false, false, false],
                log: '',
            },

            computed: {
                viesti() {
                    if (this.valitut.includes(true)) return 'Vaihta'
                    else return 'Laske / Ratkaise'
                }
            },

            mounted() {
                this.consoleElem = this.$el.querySelector('#console')
            },

            updated: function() {
                this.scrollToEnd();
            },

            methods: {
                panosminus() {
                    this.panos--
                },

                panosplus() {
                    this.panos++
                },

                aloitaPeli() {
                    this.pelimenossa = true;
                    pakka.sekoita();
                    this.writeLog(`Panos on ${this.panos}`);
                    pelaaja.muutaRahaa(-this.panos);
                    this.raha = pelaaja.raha;
                    pelaaja.lisätäKäsi(pakka.jaaKäsi(korttienMäärä));
                    this.käsi = pelaaja.käsi;
                    this.writeKäsi();
                },

                writeLog(teksti) {
                    this.log += teksti + '\n';
                },

                scrollToEnd() {
                    this.consoleElem.scrollTop = this.consoleElem.scrollHeight;
                },

                writeKäsi() {
                    const kirjaimet = ['J', 'Q', 'K'];

                    this.writeLog(`Pelaaja ${this.nimi} on saanut korttia: ${this.käsi}`);
                    this.käsi.forEach((kortti, i) => {
                        let numero = Pakka.getNumero(kortti);
                        if (numero > 10) {
                            numero = kirjaimet[numero - 11]
                        };
                        this.writeLog(`Kortti ${i}: ${numero} ${Pakka.getMaa(kortti)}`);
                    });
                },

                valitseKortti(index) {
                    if (!this.pelimenossa) return;
                    Vue.set(this.valitut, index, !this.valitut[index]);
                },

                vaihtaJaRatkaise() {
                    if (this.valitut.includes(true)) {
                        let selectedCards = [];
                        this.valitut.forEach((valittu, sijainti) => {
                            if (valittu) {
                                selectedCards.push(sijainti);
                                Vue.set(this.valitut, sijainti, false);
                            }
                        });
                        let newCards = pakka.jaaKäsi(selectedCards.length);
                        let oldCards = pelaaja.vaihdaKortit(selectedCards, newCards);
                        pakka.palautaPakkaan(oldCards);
                        this.writeLog(`Vaihdetut kortit: ${oldCards.join(', ')}`);
                        this.writeKäsi(pelaaja.käsi);
                    }
                    let voitto = Game.checkResults(pelaaja.käsi, Number(this.panos));
                    pelaaja.muutaRahaa(voitto);
                    this.writeLog(`Voitto: ${voitto}\n`);
                    this.raha = pelaaja.raha;
                    pakka.palautaPakkaan(pelaaja.palautaKäsi());
                    this.pelimenossa = false;
                }
            }
        });

    </script>
</body>

</html>